@import "../../styles/mixins";

.inputLayout {
  display: flex;
  flex-direction: column;
}

.inputComponent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.inputLabel {
  font-size: 2.25rem;
}

.rangeInputContainer {
  display: flex;
  justify-content: space-between;
  width: 760px;
}

.rangeBtn {
  width: 370px;
  height: 62px;
  background: rgba(255, 184, 0, 0.05);
  border: 1px solid #ffb800;
  border-radius: 73px;
  font-size: 1.5rem;
  font-weight: 400;
  color: #FFB800;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.hasError {
  border-color: red;
}

@mixin boxTheme {
  background: rgba(255, 184, 0, 0.05);
  border: 1px solid #ffb800;
  border-radius: 73px;
  padding-left: 60px;
  font-size: 1.5rem;
  font-weight: 400;
  outline: none;
  &::placeholder {
    color: #FFB800;
    font-size: 1.5rem;
  }
}

.inputBox {
  @include boxTheme;
  width: 700px;
  height: 62px;
}

.emailBox {
  @include boxTheme;
  width: 425px;
  height: 62px;
}

.emailInputContainer {
  display: flex;
  justify-content: space-between;
}

.confirmBtn {
  width: 260px;
  height: 62px;
  margin-left: 15px;
  border-style: none;
  border-radius: 73px;
  background: #ffb800;
  opacity: 0.3;
  color: white;
  font-weight: 400;
  font-size: 2.25rem;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.submitBtn {
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 62px;
  border-radius: 60px;
  border-style: none;
  background-color: #ffb800;
  opacity: 0.3;
  color: white;
  font-size: 2.25rem;
  font-weight: 600;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@include iphonePro {
  .inputComponent {
    margin-bottom: 5px;
  }

  .inputLabel {
    font-size: 1.125rem;
  }

  .rangeInputContainer {
    width: 262px;
  }

  .rangeBtn {
    height: 40px;
    font-size: 1.125rem;
  }

  .inputBox {
    width: 242px;
    height: 40px;
    padding: 0 0 0 20px;

    &::placeholder {
      font-size: 1rem;
    }
  }

  .emailBox {
    width: 162px;
    height: 40px;
    padding-left: 20px;

    &::placeholder {
      font-size: 1rem;
    }
  }

  .confirmBtn {
    width: 80px;
    height: 40px;
    font-size: 1rem;
    margin-left: 0;
    white-space: normal;
  }

  .submitBtn {
    width: 100%;
    font-size: 1.5rem;
    margin-top: 10px;
  }
}

@include iphoneProMax {
  .inputComponent {
    margin-bottom: 10px;
  }

  .inputLabel {
    font-size: 1.125rem;
  }

  .rangeInputContainer {
    width: 262px;
  }

  .rangeBtn {
    height: 40px;
    font-size: 1.125rem;
  }

  .inputBox {
    width: 242px;
    height: 40px;
    padding: 0 0 0 20px;

    &::placeholder {
      font-size: 1.125rem;
    }
  }

  .emailBox {
    width: 162px;
    height: 40px;
    padding: 0 0 0 20px;
    margin: 0;

    &::placeholder {
      font-size: 1.125rem;
    }
  }

  .confirmBtn {
    width: 80px;
    height: 40px;
    font-size: 1rem;
    margin-left: 0;
    white-space: normal;
  }

  .submitBtn {
    width: 100%;
    height: 55px;
    font-size: 1.5rem;
    margin-top: 10px;
  }
}

@include ipadMini {
  .inputComponent {
    margin-bottom: 10px;
  }

  .inputLabel {
    font-size: 1.5rem;
  }

  .rangeInputContainer {
    width: 262px;
  }

  .rangeBtn {
    width: 130px;
    height: 40px;
    font-size: 1.125rem;
  }

  .inputBox {
    width: 240px;
    height: 40px;
    padding: 0 0 0 20px;

    &::placeholder {
      font-size: 1rem;
    }
  }

  .emailBox {
    width: 160px;
    height: 40px;
    padding: 0 0 0 20px;
    margin: 0;

    &::placeholder {
      font-size: 1rem;
    }
  }

  .confirmBtn {
    width: 80px;
    height: 50px;
    font-size: 1rem;
    margin-left: 0;
  }

  .submitBtn {
    width: 100%;
    font-size: 1.5rem;
    margin-top: 20px;
  }
}

@include ipadPro {
  .inputComponent {
    margin-bottom: 20px;
  }

  .inputLabel {
    font-size: 2rem;
  }

  .rangeInputContainer {
    width: 561px;
  }

  .rangeBtn {
    width: 270px;
    height: 60px;
    font-size: 1.5rem;
  }

  .inputBox {
    width: 540px;
    height: 50px;
    padding: 0 0 0 20px;

    &::placeholder {
      font-size: 1.5rem;
    }
  }

  .emailBox {
    width: 294px;
    height: 50px;
    padding: 0 0 0 20px;
    margin: 0;

    &::placeholder {
      font-size: 1.5rem;
    }
  }

  .emailInputContainer {
    display: flex;
    align-items: center;
  }

  .confirmBtn {
    width: 242px;
    height: 60px;
    font-size: 1.5rem;
    margin-left: 5px;
  }

  .submitBtn {
    width: 100%;
    font-size: 2.25rem;
    margin-top: 40px;
  }
}

@include laptop {
  .submitBtn {
    width: 100%;
    font-size: 2.25rem;
    margin-top: 40px;
  }
}

@include desktop {
  .inputComponent {
    margin-bottom: 20px;
  }

  .inputLabel {
    font-size: 2rem;
  }

  .rangeInputContainer {
    width: 630px;
  }

  .rangeBtn {
    height: 55px;
    font-size: 1.5rem;
  }

  .inputBox {
    width: 600px;
    height: 55px;
    padding-left: 30px;

    &::placeholder {
      font-size: 1.5rem;
    }
  }

  .emailBox {
    width: 353px;
    height: 55px;
    padding-left: 30px;
    margin: 0;

    &::placeholder {
      font-size: 1.5rem;
    }
  }

  .emailInputContainer {
    display: flex;
    align-items: center;
  }

  .confirmBtn {
    width: 242px;
    height: 60px;
    font-size: 2rem;
    margin-left: 5px;
  }

  .submitBtn {
    width: 100%;
    font-size: 2.25rem;
  }
}