@import "../../styles/mixins";

.modalBackground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 1096px;
  height: 985px;
  margin: auto;
  padding: 60px;
  background: rgba(255, 255, 255, 0.95);
  color: #ffb800;
}

.closeBtn {
  float: right;
}

.modalTitle {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  margin: 20px 0 40px 0;
}

.formContainer {
  padding: 0 40px 0px 40px;
}

.dropzoneContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dashed #ffb800;
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
}

.dropzoneReject {
  color: red;
  border: 1px dashed red;
}

.dropzoneAccept {
  color: #42d41a;
  border: 1px dashed #42d41a;
}

.dropzoneHeadTitle {
  margin: 26.5px 0 10px 0;
  font-size: 2.25rem;
}

.dropzoneSubTitle {
  margin: 0 0 10px 0;
  font-size: 1.5rem;
}

.dropzoneProgress {
  margin: 0 0 10px 0;
}

@include iphonePro {
  .modalContainer {
    width: 100%;
    height: 100%;
    padding: 40px 20px 45px;
  }

  .closeBtn {
    width: 40px;
  }

  .modalTitle {
    font-size: 2rem;
    margin: 50px 19px 15px;
  }

  .formContainer {
    padding: 0;
  }

  .dropzoneContainer {
    height: 113px;
    margin-bottom: 20px;
  }

  .dropzoneHeadTitle {
    margin: 20px 0 10px 0;
    font-size: 1.5rem;
  }

  .dropzoneSubTitle {
    font-size: 1.125rem;
  }
}

@include iphoneProMax {
  .modalContainer {
    width: 100%;
    height: 100%;
    padding: 30px 20px 45px;
  }

  .closeBtn {
    width: 40px;
  }

  .modalTitle {
    font-size: 2rem;
    margin: 75px 19px 30px;
  }

  .formContainer {
    padding: 0;
  }

  .dropzoneContainer {
    height: 108px;
    margin-bottom: 15px;
  }

  .dropzoneHeadTitle {
    margin: 15px 0 10px 0;
    font-size: 1.5rem;
  }

  .dropzoneSubTitle {
    font-size: 1.125rem;
  }
}

@include ipadMini {
  .modalContainer {
    width: 100%;
    height: 100%;
    padding: 40px 25px 45px;
  }

  .closeBtn {
    width: 40px;
  }

  .modalTitle {
    font-size: 2.25rem;
    margin: 75px 19px 30px;
  }

  .formContainer {
    padding: 0;
  }

  .dropzoneContainer {
    height: 113px;
    margin-bottom: 20px;
  }

  .dropzoneHeadTitle {
    margin: 20px 0 10px 0;
    font-size: 1.5rem;
  }

  .dropzoneSubTitle {
    font-size: 1.125rem;
  }
}

@include ipadPro {
  .modalContainer {
    width: 100%;
    height: 100%;
    padding: 50px 50px 226px;
  }

  .closeBtn {
    width: 50px;
  }

  .modalTitle {
    font-size: 2.25rem;
    margin: 127px 190px 30px;
  }

  .formContainer {
    padding: 0;
  }

  .dropzoneContainer {
    height: 110px;
    margin-bottom: 30px;
  }

  .dropzoneHeadTitle {
    margin: 20px 0 10px 0;
    font-size: 1.5rem;
  }

  .dropzoneSubTitle {
    font-size: 1.125rem;
  }
}

@include laptop {
  .modalContainer {
    width: 100%;
    height: 100%;
    padding: 50px 50px 226px;
  }

  .closeBtn {
    width: 50px;
  }

  .modalTitle {
    font-size: 3rem;
    margin: 127px 190px 30px;
  }

  .formContainer {
    padding: 0;
  }

  .dropzoneContainer {
    height: 110px;
    margin-bottom: 30px;
  }

  .dropzoneHeadTitle {
    margin: 20px 0 10px 0;
    font-size: 1.5rem;
  }

  .dropzoneSubTitle {
    font-size: 1.125rem;
  }
}

@include desktop {
  .modalContainer {
    width: 1000px;
    height: 865px;
  }

  .closeBtn {
    width: 50px;
  }

  .modalTitle {
    font-size: 3rem;
    margin: 10px 100px 30px;
  }

  .formContainer {
    padding: 0;
  }

  .dropzoneContainer {
    height: 120px;
    margin-bottom: 30px;
  }

  .dropzoneHeadTitle {
    margin: 20px 0 10px 0;
    font-size: 2rem;
  }

  .dropzoneSubTitle {
    font-size: 1.5rem;
  }
}