@import "../../styles/mixins";

.homeBox {
  height: 220px;
  width: 286px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

@include iphonePro {
  .homeBox {
    width: 100px;
    height: 100px;
  }
}

@include iphoneProMax {
  .homeBox {
    width: 130px;
    height: 100px;
  }
}

@include ipadMini {
  .homeBox {
    width: 120px;
    height: 100px;
  }
}

@include ipadPro {
  .homeBox {
    width: 150px;
    height: 100px;
  }
}

@include desktop {
  .homeBox {
    width: 250px;
    height: 100px;
  }
}