@import "../../styles/mixins";

.homeBox {
  width: 286px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.boxMsg {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  line-height: 120%;
  margin-top: 0;
}

@include iphonePro {
  .homeBox {
    width: 100px;
  }
}

@include iphoneProMax {
  .homeBox {
    width: 130px;
  }
}

@include ipadMini {
  .homeBox {
    width: 120px;
    height: 100px;
  }
}

@include ipadPro {
  .homeBox {
    width: 150px;
    height: 100px;
  }
}

@include laptop {
  .homeBox {
    width: 250px;
    height: 100px;
  }
}

@include desktop {
  .homeBox {
    width: 250px;
    height: 100px;
  }
}