@import "../../styles/mixins";

.homeContainer {
  width: 100vw;
  height: 100vh;
}

.bgWrap {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;

  .image {
    width: 100vw;
    position: relative !important;
    height: 100vh;
  }
}

.container {
  position: relative;
  z-index: 1;
}

.items {
  margin: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.catchphrase {
  color: #FFB800;
  font-style: normal;
  font-weight: 800;
  font-size: 10.625rem;
  line-height: 95%;
}

.boxMsg {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  line-height: 120%;
  margin-top: 0;
}

.boxContainer {
  display: flex;
  flex-direction: column;
  float: right;
}

@include iphoneProMax {
  .items {
    margin: 180px 20px 0 20px;
    display: block;
  }

  .catchphrase {
    font-size: 4rem;
  }

  .boxMsg {
    font-size: 1rem;
  }
}

@include ipadMini {
  .items {
    margin: 130px 20px 0 20px;
    display: block;
  }

  .catchphrase {
    font-size: 3.7rem;
  }

  .boxMsg {
    font-size: 1rem;
  }
}

@include ipadPro {
  .items {
    margin: 130px 50px 0 50px;
    display: block;
  }

  .catchphrase {
    font-size: 6.25rem;
  }

  .boxMsg {
    font-size: 1.5rem;
  }
}

@include desktop {
  .items {
    margin: 100px 50px 0 50px;
    display: block;
  }

  .catchphrase {
    font-size: 10rem;
  }

  .boxMsg {
    font-size: 1.5rem;
  }
}