@import "../../styles/mixins";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px 0;
  width: 100%;
  text-align: center;
}

.portfolioFilter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 75vh;
}


/* animation styles */
@keyframes fade-in-keyframes {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fade-out-keyframes {
  from {opacity: 1}
  to {opacity: 0}
}

.fadeInClass {
  animation: fade-in-keyframes 1s alternate;
}

.imgWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 1800px;
  height: 698px;
}

.video {
  width: 1800px;
  height: 698px;
  background-color: black;
}

.nextBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 62px;
  background-color: white;
  color: #ffb800;
  font-size: 2.25rem;
  border-radius: 60px;
}

.description {
  font-size: 1.5rem;
  color: white;
  font-weight: 700;
  margin: 0;
}

.footerItem {
  width: 100%;
}

.footerTitle {
  text-align: left;
}

.footerDescription {
  text-align: right;
}

@include iphonePro {
  .imgWrapper,
  .video {
    width: 335px;
    height: 400px;
  }

  .description {
    font-size: 0.875rem;
  }

  .footer {
    width: 319px;
    flex-direction: column-reverse;
  }

  .footerItem {
    &:nth-child(1) {
      order: 3;
      margin-bottom: 10px;
    }

    &:nth-child(2) {
      order: 1;
    }

    &:nth-child(3) {
      order: 2;
      margin-bottom: 10px;
    }
  }

  .nextBtn {
    margin: auto;
    width: 319px;
    height: 49px;
    font-size: 1.5rem;
  }

  .portfolioFilter {
    width: 335px;
    height: 500px;
  }

  .footerTitle {
    text-align: center;
  }

  .footerDescription {
    text-align: center;
  }
}

@include iphoneProMax {
  .imgWrapper,
  .video {
    width: 335px;
    height: 509px;
  }

  .description {
    font-size: 0.875rem;
  }

  .footer {
    width: 319px;
    margin-top: 20px;
    flex-direction: column-reverse;
  }

  .footerItem {
    &:nth-child(1) {
      order: 3;
      margin-bottom: 10px;
    }

    &:nth-child(2) {
      order: 1;
    }

    &:nth-child(3) {
      order: 2;
      margin-bottom: 10px;
    }
  }

  .nextBtn {
    margin: auto;
    width: 319px;
    height: 49px;
    font-size: 1.5rem;
  }

  .portfolioFilter {
    width: 335px;
    height: 509px;
  }

  .footerTitle {
    text-align: center;
  }

  .footerDescription {
    text-align: center;
  }
}

@include ipadMini {
  .imgWrapper,
  .video {
    width: 364px;
    height: 578px;
  }

  .description {
    font-size: 0.875rem;
  }

  .footer {
    width: 319px;
    margin-top: 25px;
    flex-direction: column-reverse;
  }

  .footerItem {
    &:nth-child(1) {
      order: 3;
      margin-bottom: 10px;
    }

    &:nth-child(2) {
      order: 1;
    }

    &:nth-child(3) {
      order: 2;
      margin-bottom: 10px;
    }
  }

  .nextBtn {
    margin: auto;
    width: 319px;
    height: 49px;
    font-size: 1.5rem;
  }

  .portfolioFilter {
    width: 364px;
    height: 440px;
  }

  .footerTitle {
    text-align: center;
  }

  .footerDescription {
    text-align: center;
  }
}

@include ipadPro {
  .imgWrapper,
  .video {
    width: 668px;
    height: 480px;
  }

  .description {
    font-size: 1.125rem;
  }

  .footer {
    width: 668px;
    margin-top: 30px;
    flex-direction: column-reverse;
  }

  .footerItem {
    &:nth-child(1) {
      order: 3;
      margin-bottom: 10px;
    }

    &:nth-child(2) {
      order: 1;
    }

    &:nth-child(3) {
      order: 2;
      margin-bottom: 10px;
    }
  }

  .nextBtn {
    margin: auto;
    width: 319px;
    height: 49px;
    font-size: 1.5rem;
  }

  .portfolioFilter {
    width: 668px;
    height: 626px;
  }

  .footerTitle {
    text-align: center;
  }

  .footerDescription {
    text-align: center;
  }
}

@include desktop {
  .imgWrapper,
  .video {
    width: 924px;
    height: 704px;
  }

  .description {
    font-size: 1.5rem;
  }

  .footer {
    width: 924px;
    margin-top: 50px;
    flex-direction: column-reverse;
  }

  .footerItem {
    &:nth-child(1) {
      order: 3;
      margin-bottom: 10px;
    }

    &:nth-child(2) {
      order: 1;
    }

    &:nth-child(3) {
      order: 2;
      margin-bottom: 10px;
    }
  }

  .nextBtn {
    margin: auto;
    width: 508px;
    height: 60px;
    font-size: 2.25rem;
  }

  .portfolioFilter {
    width: 924px;
    height: 880px;
  }

  .footerTitle {
    text-align: center;
  }

  .footerDescription {
    text-align: center;
  }
}
