@import "../styles/mixins";

.portfolioContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.alignComponents {
  margin: 0 60px 0 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@include iphoneProMax {
  .alignComponents {
    margin: 35px 20px 0 20px;
  }
}

@include ipadMini {
  .alignComponents {
    margin: 25px 25px 0 25px;
  }
}

@include ipadPro {
  .alignComponents {
    margin: 72px 50px 0 50px;
  }
}

@include desktop {
  .alignComponents {
    margin: 92px 50px 0 50px;
  }
}